#appModal.modal.fade(tabindex="-1", role="dialog", aria-labelledby="appModalLabel", aria-hidden="true")
  .modal-dialog
    .modal-content
      .modal-header
        button.close(type="button", data-dismiss="modal", aria-hidden="true") &times;
        h4#appModalTitle.modal-title Modal title
      #appModalBody.modal-body Lore ipsum
      #appModalFooter.modal-footer
        button.btn.btn-default(data-dismiss="modal") Close
        button.btn.btn-primary Save