#contactsTable {
    th {
        width: 33.33%;

        &:first-child {
            width: auto;
        }
    }

    .image-cell img {
        height: 3em;
        margin-right: 1em;
    }

    tr td:first-child {
        width: 3em
    }

    tr td:nth-child(2) {
        font-size: 1.5em;
        padding: 1em 0em;
    }
}

#contactsFilter {
    .backgrid-filter {
        width: auto;
        margin-left: 0px;

        input {
            width: 100%;
            margin-right: 0;
            padding-right: 0;
        }
    }
}