#callContact {
    .header {
        text-align: center;
    }

    .dots {
        position: absolute;
    }

    .end-call {
        padding-top: 2em;
    }

    #endCall {
        width: 100%;
    }

    .avatar {
        height: 220px;
    }
}