.container
	.navbar-header
		a.navbar-brand(href="#") CarDial
	.collapse.navbar-collapse
		ul.nav.navbar-nav
			li.nav-showmap
				a.menu-item(href="#")
					span.glyphicon.glyphicon-map-marker
					span.menu-label Map
			li.nav-call
				a.menu-item(href="#contacts-list")
					span.glyphicon.glyphicon-earphone
					span.menu-label Place Call
			li.nav-contactsmap
				a.menu-item(href="#map/contacts")
					span.glyphicon.glyphicon-globe
					span.menu-label Contacts Map