.row
	.col-md-4.avatar
		img(src!="api/static/avatar/<%= model.id %>.jpg").img-circle
		h4.contact-name <%- model.firstName %> <%- model.lastName %>
	.col-md-8.details
		h4.location <%- model.city %>&nbsp;
			small.country <%- model.country %>
		.birthday
			i.glyphicon.glyphicon-calendar
			| &nbsp;<%= getBirthday() %>
		h4.phone
			i.glyphicon.glyphicon-earphone
			| &nbsp;<%- model.phoneNumber %>
.row
	h3 Last seen
		small#lastSeenLocationName
	.last-seen-map
		img(src!="http://maps.googleapis.com/maps/api/staticmap?center=<%= getUserLastSeen() %>&zoom=11&size=588x150&markers=color:red%7C<%= getUserLastSeen() %>").img-responsive
.row
	#directionsError.alert.alert-danger(role="alert")