.row
	.col-md-4.col-md-offset-4.header
		img(src!="api/static/avatar/<%= model.id %>.jpg").img-circle.avatar
		h3.calling Calling
			span.dots ...
		h2.contact-name <%- model.firstName %> <%- model.lastName %>
		h3.phone
			i.glyphicon.glyphicon-earphone
			| &nbsp;<%- model.phoneNumber %>
.row.details
	h4.location <%- model.city %>&nbsp;
		small.country <%- model.country %>
	.birthday <%= getBirthday() %>
.row.end-call
	#endCall.btn.btn-danger.btn-lg
		i.glyphicon.glyphicon-remove-circle
		| &nbsp;End call